<h1>Artist Library</h1>
<ul>
  #foreach($artist in $artists)
    <li><a href="/artist/$artist.getId()">$artist.getArtist()</a></li>
  #end
</ul>


<form action="/" method="post">
  <div class="form-group">
    <label for="artist">Enter Artist name</label>
    <input type="text" name="artist" id="artist" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Add Artist to library</button>
</form>
